{% for vacature in vacatures %}

    <section class="vacature">
        <h2>{{ vacature.title }}</h2>
        <p>{{ vacature.locatie }}</p>
        <p>{{ vacature.hours }} uur</p> 
        <a href="/vacature/{{ vacature.id }}">BEKIJKEN ↗</a>
    </section>

{% endfor %}