
<form>
    <input type="text" class="zoek" id="search" name="search" placeholder="Zoek een vacature..."
    >
    <div "buttons">
    <select class="button">
        <option value="all">Expertise</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select class="button">
        <option value="all">Uren</option>
        <option value="vol">Voltijd 38-40 uur</option>
        <option value="deel">Deeltijd 16-24 uur</option>
        <option value="stage">Stage</option>

    </select>
    <select class="button">
        <option value="all">Locatie</option>
        <option value="ams">Amsterdam</option>
        <option value="dh">Den Haag</option>
        <option value="ut">Utrecht</option>
        <option value="bre">Breda</option>
        <option value="hfd">Hooftdorp</option>
    </select>
    <select class="button">
        <option value="all">Taal</option>
        <option value="En">Engels</option>
        <option value="Nl">Nederlands</option>
    </select>
    <button type="submit">Filter</button>
    </div>
</form>
