<section class="become-a-partner">

    <h3>Word nu partner</h3>


    <a class="fa-solid fa-arrow-right"></a>

</section>

<section class="agencies">
    <div class="foto-parade">
        <div class="picture-container-1">
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-dearly.png" width="50p" alt="dearly">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-match-plan.png" width="50p" alt="match-plan">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-amac.png" width="50p" class="amac">
            </div>
            <div class="containerA">
                <img src="../assets/leden/logo-ictrecht.png" width="50p" class="ICTrecht">
            </div>
        </div>
    </div>
</section>

{% comment %} </main> {% endcomment %}
<footer>

<div class="footer-logo">
  <img src="../assets/DDA-logo-white.png" height="100px" width="140px" alt="logo-dda">
  </div>

    <div class="footer-links">
      <ul>
        <li><a href="/over-ons">Over ons</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/publicaties">Publicaties</a></li>
        <li><a href="/Leden">Leden</a></li>
        <li><a href="/Vacatures">Vacatures</a></li>
        <li><a href="#Algemene-voorwaarden">Algemene Voorwaarden</a></li>
        <li><a href="#Privacybeleid">Privacybeleid</a></li>
        <li><a href="/Events">Events</a></li>
      </ul>
    </div>

    <div class="footer-address">
      <p>Dutch Digital Agencies</p>
      <p>Capitcal C</p>
      <p>Weesperplein 4B </p>
      <p>1018 XA</p>
      <p>Amsterdam</p>
    </div>

    <div class="footer-contact">
      <p class="bold">Contact</p>
      <a href="tel:+31854010391" class="fa-solid fa-phone"></a>
      <a href="mailto:info@dutchdigitalagencies.com" class="fa-solid fa-envelope"></a>
  </div>

      <p>Contact</p>
      </strong> <br>
      (0)85 4010391<br>
      info@dutchdigitalagencies.com</p>
    </div>
  </footer>

  </body>
  </html>