<header>
    <div class="logo-header">
        <picture>
            <source srcset="../assets/DDA-logo-black.avif" type="image/avif">
            <source srcset="../assets/DDA-logo-black.webp" type="image/webp">
            <img src="../assets/DDA-logo-black.png" width="100px" height="75px" alt="logo-DDA" class="logo-lightmode">
        </picture>

        <picture>
            <source srcset="../assets/DDA-logo-white.avif" type="image/avif">
            <source srcset="../assets/DDA-logo-white.webp" type="image/webp">
            <img src="../assets/DDA-logo-white.png" width="100px" height="75px" alt="logo-DDA" class="logo-darkmode">
        </picture>    
    </div>

    <div class="navigation">
            <a href="/over-ons">Over Ons</a>
            <a href="/publicaties">Publications</a>
            <a href="/vacatures">Vacatures</a>
            <a href="leden">Leden</a>
            <a href="/events">Events</a>
    </div>

    <div class="dark-light-mode-button">
        <button class="darkmode-button">
            <picture>
                <source srcset="../assets/moon.avif" type="image/avif">
                <source srcset="../assets/moon.webp" type="image/webp">
                <img src="../assets/moon.png" loading="lazy" alt="moon" height="20px" width="20px">
            </picture>
        </button>
        <button class="lightmode-button">
            <picture>
                <source srcset="../assets/sun.avif" type="image/avif">
                <source srcset="../assets/sun.webp" type="image/webp">
                <img src="../assets/sun.png" loading="lazy" alt="sun" height="20px" width="20px">
            </picture>
        </button>
    </div>
</header>
{% comment %} <main> {% endcomment %}