<header>
    <div class="logo-header">
        <picture>
            <source type="image/avif" srcset="../assets/DDA-logo-black.png"> 
            <source type="image/webp" srcset="../assets/DDA-logo-black.png"> 

            <img src="../assets/DDA-logo-white" width="100p" height="75p" alt="logo-DDA" class="hidden">
            <img src="../assets/DDA-logo-black" width="100p" height="75p" alt="logo-DDA" class="logo-darkmode">


        </picture>
    </div>

    <div class="navigation">
            <a href="/over-ons">Over Ons</a>
            <a href="/publicaties">Publications</a>
            <a href="/vacatures">Vacatures</a>
            <a href="leden">Leden</a>
            <a href="/events">Events</a>
    </div>

    <div class="dark-light-mode-button">
        <button class="darkmode-button">
          <img src="../assets/moon.png" style="width: 20px; height: 20px;">
        </button>
        <button class="lightmode-button">
            <img src="../assets/sun.png" style="width: 20px; height: 20px;">
            </button>
    </div>
</header>
{% comment %} <main> {% endcomment %}