<header>
    <div class="logo-header">
        <picture>
            <source type="image/avif" srcset="../assets/DDA-logo-black.png"> 
            <source type="image/webp" srcset="../assets/DDA-logo-black.png"> 

            <img src="../assets/DDA-logo-white" width="100p" height="75p" alt="logo-DDA">
        </picture>
    </div>

    <div class="navigation">
            <a href="/over-ons">Over Ons</a>
            <a href="/publicaties">Publications</a>
            <a href="/vacatures">Vacatures</a>
            <a href="leden">Leden</a>
            <a href="/events">Events</a>
    </div>

    <div class="dark-light-mode-button">
        <button class="darkmode">🌙</button>
    </div>
</header>
{% comment %} <main> {% endcomment %}