<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>

    {% comment %} stylesheet {% endcomment %}
    <link rel="stylesheet" href="./style/stylesheet-2.css">
    <link rel="stylesheet" href="./style/stylesheet-publications.css">

    {% comment %} icons {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    {% comment %} scripts {% endcomment %}
    <script src="index.js" defer></script>
</head>
<body>
<header>
    <a href="/over-ons">Over Ons</a>
    <a href="/publicaties">Publications</a>
    <a href="/vacatures">Vacatures</a>
    <a href="leden">Leden</a>
    <a href="/events">Events</a>
</header>
