</head>
<body>
<header>
    <div class="logo-header">
        <img src="../assets/dda-logo-white.png" height="100px" width="140px" alt="logo-dda">
    </div>
    <div class="navigation">
        <a href="/over-ons">Over Ons</a>
        <a href="/publicaties">Publications</a>
        <a href="/vacatures">Vacatures</a>
        <a href="leden">Leden</a>
        <a href="/events">Events</a>
    </div>
</header>
