<header>
    <div class="logo-header">
        <picture>
            <source type="image/avif" srcset="../assets/DDAlogo.png"> 
            <source type="image/webp" srcset="../assets/DDAlogo.png"> 

            <img src="../assets/DDAlogo.png" width="200p" height="200p" alt="logo-DDA">
        </picture>
    </div>

    <div class="navigation">
            <a href="/over-ons">Over Ons</a>
            <a href="/publicaties">Publications</a>
            <a href="/vacatures">Vacatures</a>
            <a href="leden">Leden</a>
            <a href="/events">Events</a>
    </div>
</header>