<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDA</title>
    <link rel="stylesheet" href="/style/stylesheet-2.css">
    <link rel="stylesheet" href="/style/stylesheet-publications.css">
    <script src="index.js" defer></script>
</head>
<body>
<header>
    <a href="/over-ons">Over Ons</a>
    <a href="/publicaties">Publications</a>
    <a href="/vacatures">Vacatures</a>
    <a href="leden">Leden</a>
    <a href="/events">Events</a>
</header>
