                                <nav id="menu">
                                    <ul class="menu__list">
                                        <li>
                                            <a href="/over-ons/" class="menu__link link">Over ons</a>
                                        </li>
                                        <li>
                                            <a href="/events/" class="menu__link link">Events</a>
                                        </li>
                                        <li>
                                            <a href="/publicaties/" class="menu__link link">Publicaties</a>
                                        </li>
                                        <li>
                                            <a href="/leden/" class="menu__link link">Leden</a>
                                        </li>
                                        <li>
                                            <a href="/vacatures/" class="menu__link link">
                                                Vacatures <span data-vacancy-count="true" class="menu__counter">198</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>