<form action="/search" method="get" class="flex gap-2 w-full max-w-md">
  <div class="searching-tool">
    <input type="text" name="" placeholder="Zoek publicaties..."  class="input-searching-tool">
    <button type="submit" class="button-searching-tool">
    Zoek
    </button>
  </div>
</form>