
<form action="/search" method="get" class="flex gap-2 w-full max-w-md">
  <div class="relative flex-grow">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>

  <input type="text" name="q" placeholder="Zoek publicaties..."  value="{{ search.terms | escape }}" class="search-input">
  </div>
  <button type="submit" class="">
    Zoek
  </button>
</form>

    <div class="buttons-topic">
        <button class="button-filter" type="button" data-topic="Column">Column</button>
        <button class="button-filter" type="button" data-topic="Awards">Awards</button>
        <button class="button-filter" type="button" data-topic="DDA nieuws">DDA nieuws</button>
        <button class="button-filter" type="button" data-topic="Algemeen">Algemeen</button>
        <button class="button-filter" type="button" data-topic="Digitale Inclusie">Digitale Inclusie</button>
        <button class="button-filter" type="button" data-topic="Branche">Branche</button>
        <button class="button-filter" type="button" data-topic="Belangenhartiging">Belangenhartiging</button>
    </div>
