
    <form>
        <input type="search" id="form-search"/>
    </form>

    <div id="buttonstopic">
        <button class="button-filter" type="button" data-topic="Column">Column</button>
        <button class="button-filter" type="button" data-topic="Awards">Awards</button>
        <button class="button-filter" type="button" data-topic="DDA nieuws">DDA nieuws</button>
        <button class="button-filter" type="button" data-topic="Algemeen">Algemeen</button>
        <button class="button-filter" type="button" data-topic="Digitale Inclusie">Digitale Inclusie</button>
        <button class="button-filter" type="button" data-topic="Branche">Branche</button>
        <button class="button-filter" type="button" data-topic="Belangenhartiging">Belangenhartiging</button>
    </div>
