
@keyframes parade {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-25%);
    }
}

@keyframes parade-reversed {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(25%);
    }
}

@keyframes loading {
    0%{
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes roundani {
    0% {
        background-color: var(--color-light-blue);
        transform:translateY(0);
    }

    50% {
        background-color: var(--color-dark-blue);
        transform:translateY(-10px);
    }

    100% {
        background-color: var(--color-blue);
        transform:translateY(0px);

    }
}