/* General Layout */
.title-publications {
    max-width: 100%;
    padding: 2em;
  }
  
  .title-publications a.back-link {
    display: inline-flex;
    align-items: center;
    color: #005BBB; /* Tailwind's 'text-color-blue' */
    margin-bottom: 1.5rem;
    font-family: 'Martian Mono', monospace;
    text-decoration: none;
  }
  
  .title-publications a.back-link svg {
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
  }
  
  
  @media (min-width: 768px) {
    .title-publications h1 {
      font-size: 4.5em; 
    }
  }
  
  .title-publications p {
    max-width: 48em;
    font-family: 'Archivo', sans-serif;
  }
  
  .overview-publications {
    max-width: 80em;
    margin: 0 auto;
    padding: 3rem 1rem;
  }

  
  .publication-grid {
    display: grid;
    margin: var(--spacing-16);
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .publication-grid > *:nth-child(7) {
    display: none;
  }
  
  @media (min-width: 768px) {
    .publication-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .publication-grid > *:nth-child(7) {
      display: block;
    }
  }
  
  @media (min-width: 1024px) {
    .publication-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .publication-card {
    border: 1px solid black;
    padding: 1.5rem;
    transition: border-color 0.3s;
    text-decoration: none;
    color: inherit;
  }
  
  .publication-card:hover {
    border-color: #005BBB;
  }
  
  .publication-image {
    margin-bottom: 1rem;
    aspect-ratio: 16 / 9;
    background-color: var(--color-white);
    overflow: hidden;
  }
  
  .publication-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .publication-card:hover img {
    transform: scale(1.05);
  }
  
  .publication-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Archivo SemiExpanded', sans-serif;
    transition: color 0.3s;
  }
  
  .publication-card:hover .publication-title {
    color: var(--blue);
  }
  
  .publication-topic {
    font-size: 0.8em;
    margin-bottom: 0.8em;
    color: var(--blue);
    font-family: 'Martian Mono', monospace;
  }
  
  .publication-intro {
    font-size: 0.8em;
    font-family: 'Archivo', sans-serif;
  }
  
  .pagination {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }
  
  .laatste-nieuws-publications {
    margin-top: 4em;
  }
  
  .laatste-nieuws-publications h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2em;
    font-family: 'Archivo SemiExpanded', sans-serif;
  }
  
  @media (min-width: 720px) {
    .laatste-nieuws-publications h2 {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 1080px) {
    .laatste-nieuws-publications h2 {
      font-size: 3rem;
    }
  }
  
  .buttonstopic-publication {
    display: flex;
    justify-content: center;
    gap: var(--spacing-32);
    padding: var(--spacing-16);
  }

  .buttonstopic-publication button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: var(--spacing-16);
    flex-direction: column;
    justify-content: space-between;
  }

  .buttonstopic-publication button:hover {
    background-color: var(--color-dark-blue);

  }