* {
  text-decoration: none;
}

/* header */
header {
  padding: var(--spacing-32);
  height: var(--spacing-128);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: var(--border);
  justify-content: space-between;
}

.logo-header {
align-items: center;
}

.navigation {
  background-color: var(--color-white);
  padding: 1rem 2rem;
}

.navigation a {
  color: var(--color-black);
  margin: 0 var(--spacing-16);
  text-decoration: none;
  font-family: monospace;
  position: relative;
}

.navigation a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: var(--general-animation);
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-decoration: underline;
}

.navigation a.active {
  color: var(--color-blue);
}

.navigation a.active::after {
  transform: scaleX(1);
}

main{
  margin: var(--spacing-32);
  border: var(--border);
}
  /* footer */

  footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--spacing-32);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
  }
}

  .footer-logo {
    max-width: var(--spacing-128);
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .footer-links ul {
    font-family: monospace;
    list-style: none;
    line-height: var(--spacing-16);
  } 
  
  .footer-links a {
    color: var(--color-white);
    text-decoration: none;
    position: relative;
    transition: var(--general-animation);
  }
  
  .footer-links a:after {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: var(--spacing-8);
    left: 0;
    background-color: var(--color-blue);
    transform-origin: bottom right;
    transition: var(--general-animation);
  }
  
  .footer-links a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .footer-links a:hover {
    color: var(--color-blue);
  }
  
  .main-home {
    background-color: var(--color-black);
  }

  /* seraching tool */
    .searching-tool {
      display: flex;
      justify-content: space-between;
      margin: var(--spacing-16);
    }

    .input-searching-tool {
      width: 70%;
      padding: 1em 1em 1em 2.5em;
      border: 1px solid var(--color-blue);
      border-radius: 4px;
      background-color: var(--color-white);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 0.75em center;
      background-size: 1em;
      font-family: monospace;
    }

    .button-searching-tool {
      background-color: var(--color-blue);
      color: var(--color-white);
      padding-left: 2em;
      padding-right: 2em;

    }

    .button-searching-tool:hover {
      background-color: var(--color-dark-blue);
    }
  
    .svg-searching-tool {
      height: var(--spacing-32);
    }
    

    @view-transition {
      navigation: auto;
    }


  /* foto-parade */

  .foto-parade {
    height: 8em;
    display: flex;
    position: relative;
    overflow: hidden;
    animation-play-state: running; 
}

.picture-container-1 {
    display: flex;
    animation: parade 20s linear infinite;
}

.containerA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 8em;
}

.become-a-partner {
  margin-right: var(--spacing-32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  a {
      background-color: var(--color-blue);
      color: var(--color-white);
      width: var(--spacing-32);
      height: var(--spacing-32);
      padding: var(--spacing-16);
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
}

/* go back button */
.go-back-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-family: monospace;
  padding: 1em;
  align-items: center;

  :hover {
    transform: translateX(-8px);
    transition: 0.5s;
  }
}

.go-back-button svg {
  position: relative;
  top: var(--spacing-8);
  align-items: center;
}

/* empty-state */

.empty-state{
  border-top: var(--border);
  border-bottom: var(--border);
}