/* body {
    padding: 5px; 
    border: 1px solid black;
    margin: 0 auto;
    max-width: 97%;
} */

  /* Header bar */
  .topnav {
    align-items: center; 
    justify-content: space-between; 
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 50px;
    margin-right: 10%;
}

.topnav img {
    height: 180px; 
    width: auto; 
}


.topnav a {
    margin: 10px; 
    text-decoration: none; 
    color: var(--blue); 
    font-family: MartianMono, monospace;
    font-size: var(--font-size-links);
    font-weight: var(--standard-font-weight);
    text-transform: uppercase;

}


@media (max-width: 750px) {
    .topnav {
        flex-direction: row; 
        justify-content: space-between; 
        padding-bottom: 30px;
    }

    }
.titles{
    text-align: center;
    h1 {
        /* font-size: var(--font-size-xl); */

        @media(min-width:500px){
            font-size: var(--font-size-xl);
        }
    }

    p {
        font-size: var(--font-size-paragraph);
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: var(--font-size-paragraph);
        color: black;
    }
}

@media (min-width: 750px) {
    .titles{
        padding-top: 20px;
        h1 {
            font-size: var(--font-size-xxl);
        }
        p {
            font-size: var(--font-size-paragraph);
        }
    }
}

@view-transition {
    navigation: auto;
  }


.main{
    text-align: center;
    font-family: (--font-family-mono);
    h1 {
        font-size: var(--font-size-l);
    }

    p {
        font-size: var(--font-size-paragraph);
        margin: 0 auto;
        padding: 10px; 
    }

    a {
        font-size: var(--font-size-paragraph);
        color: black;
    }
}

.container {
    max-width: 75%;
    margin: 2%;
    margin-bottom: 5%;
    border-top: var(--border);
}

.gridview {
    margin-top: 5%;
    align-items: center;
        display: grid;
        grid-column: 64px, repeat(12, 1fr), 64px;
    
    img {
        border: var(--color-black) 2px solid;
        width: 330px;
        height: 500px;
    }

}


/* events list items */
.event-items-container {
    padding: var(--spacing-40) var(--spacing-32);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    border-top: var(--border);
}

.overons-gridview {
    margin-top: 5%;
    align-items: center;
        display: grid;
        grid-column: 64px, repeat(12, 1fr), 64px;
    
    img {
        border: var(--color-black) 2px solid;
        width: 330px;
        height: 500px;
    }

}

@media (min-width: 750px) {
    .main{
        padding-top: 20px;
        h1 {
            font-size: var(--font-size-xxl);
        }
        p {
            font-size: var(--font-size-sm);
        }
    }
}

.titles {
    border-left: var(--color-black) 2px solid;
    border-right: var(--color-black) 2px solid;
    border-bottom: var(--color-black) 2px solid;
    margin-bottom: 5%;
    h1 {
        font-family: var(--font-family-regular);
        display:flex;
        justify-content: center;
    }

    p {
        text-align: center;
        margin-top: 5%;
        font-family: var(--font-family-regular);
    }
}


.title {
    display: flex;
    text-align: center; 
margin-bottom: 0.5%;
margin-left: 2%;
}



.label {
    font-size: var(--size-sm);
    font-family: var(--secondary-font);
    font-weight: 300;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    padding: 0 4px;
    color: var(--color-black);
  }

  .zoek {
  font-size: var(--size-sm);
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: -0.06em;
  border: 1px solid var(--color-black);
  text-transform: uppercase;
  padding: 0 4px;
  border: 1px solid transparent;
  padding-block: var(--spacing-12);
  padding-inline: 0px;
  border-block-end-color: var(--color-black);
  width: 20%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  }

.button {
    justify-content: left;
    border: var(--border);
    background-color: var(--white);
    font-family: var(--font-family-mono);
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: 300;
    letter-spacing: -0.06em;
    border: 1px solid var(--black);
    text-transform: uppercase;
    padding: 0 4px;
    border: 1px solid transparent;
    padding-block: var(--spacing-12);
    padding-inline: 0px;
    border-block-end-color: var(--color-black);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

#showingmore {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.showmore {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 7%;
    background-color: transparent;   
    ~ section.speakerinfo {
        display: none;
}
}


.showless {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
    margin-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    ~ section.speakerinfo {
        display: block;
    }
}

.showingless {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .4em;
    cursor: pointer;
    display: block;
    ~ section.speakerinfo {
        display: none;
}
}

.speakerinfo {
max-inline-size: 80ch;
}

#name {
justify-content: left;
border: var(--border);
background-color: var(--white);
font-family: var(--font-family-mono);
width: fit-content;
color: rgb(0, 0, 0);
font-weight: 300;
letter-spacing: -0.06em;
border: 1px solid var(--black);
text-transform: uppercase;
padding: 0 4px;
border: 1px solid transparent;
padding-block: var(--spacing-12);
padding-inline: 0px;
border-block-end-color: var(--color-black);
font-size: 1.125rem;
line-height: 1.5rem;
}

#email {
    justify-content: left;
    border: var(--border);
    background-color: var(--white);
    font-family: var(--font-family-mono);
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: 300;
    letter-spacing: -0.06em;
    border: 1px solid var(--black);
    text-transform: uppercase;
    padding: 0 4px;
    border: 1px solid transparent;
    padding-block: var(--spacing-12);
    padding-inline: 0px;
    border-block-end-color: var(--color-black);
    font-size: 1.125rem;
    line-height: 1.5rem;
    }

    #verstuur {
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 1.5rem;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;  
    margin-left: 7%;
    background-color: transparent;     
    }

    .loader {
        border: 6px solid var(--color-white);
        border-top: 6px solid var(--color-blue);
        border-radius: 50%;
        margin-left: 14%;
        width: 45px;
        height: 45px;
        animation: spin 1.5s linear infinite;
      }
      
      @keyframes spin {
        0% {
            transform: rotate( 0deg ) scale( 1 );
          }
          10% {
            transform: rotate( -90deg ) scale( 1.1 );
          }
          50% {
            transform: rotate( -180deg ) scale( 1.2 );
          }
          80% {
            transform: rotate( -270deg ) scale( 1.1 );
          }
          100% {
            transform: rotate( -360deg ) scale( 1 );
          }
      }

/* Over Ons */
.over-ons-video {
box-sizing: border-box;
color: #000000;
display: block;
line-height: 32px;
padding-inline-end: 48px;
padding-block-start: 48px;
scroll-padding-top: 129px;
}

.over-ons-p{
box-sizing: border-box;
color: #000000;
display: block;
line-height: 32px;
padding-inline-end: 48px;
padding-block-start: 48px;
scroll-padding-top: 129px;
grid-column-end: span 7;
}

.over-ons-p-left{
padding: 48px;
}

.bedrijf {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    display: inline-flex;
    font-family: MartianMono, monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    text-decoration: none;
    text-transform: uppercase;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: var(--spacing-12);

    @media (min-width: 510px) {
        gap: 0;
    }

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* OVER ONS */
.card-container-child {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    /* gap: var(--spacing-16); */
    padding: var(--spacing-16);
    border-bottom: var(--border)
}

@media (min-width: 800px) {
    .card-container-child {
        border-bottom: none;
        padding: var(--spacing-48);
    }

    .card-container-child:nth-child(1) {
        border-right: var(--border);
    }

    .card-container-child:nth-child(3) {
        border-left: none;
    }
}

@media (min-width: 1200px) {
    .card-container-child:nth-child(3) {
        border-left: var(--border);
    }
}


.card-container-child:last-child {
    border-bottom: none;
}

.card-container-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.card-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: var(--border)
}

.card-title {
    line-height: 1em;
}

.card-container-button {
    padding-top: var(--spacing-24);
}

.label-container {
    padding: 0 5px;
    display: inline-block;
}    

main{
    padding: 1em;
    section{
        border-bottom: .07em solid black;
        padding-bottom: 1em;
    }

    a{
        text-decoration: none;
        color: #364bf7;

        &:hover{
            color: black;
        }
    }

    .page-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: .07em solid black;
        padding-block: 3em;

        a{
            color: black;

            &:hover{
                color: #364bf7;
            }
        }


        p{
            text-align: center;
            max-width: 80%;
            line-height: 1.5em;

        }
    }

}

.add-vacature{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    /* padding-bottom: 3em; */

    .add-button{
        display: flex;
        border: none;
        background: none;
        gap: .3em;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
        color: #364bf7;

        &:hover{
            color: black;
        }
        
        @media(min-width:500px){
            font-size: 2em;
        }
    }
}

#mypopover{
    padding: 2em;
    gap: 1em;

    form{
        display: flex;
        flex-direction: column;
        align-items: end;

        button{
            width: 100%;
            margin-bottom: 1em;
        }
    }

    label{
        /* min-width: 50px; */
        padding-block: 1em;
    }
}

.vacature{
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    padding-block: 2em;
    /* max-width: 300px; */

    h2{
        font-weight: 400;
        grid-column: 1/-1;

        @media(min-width:800px){
            min-width: 400px;
        }

        @media(min-width:990px){
            min-width: 400px;
            font-size: 2em;
            min-width: 550px;
        }
    }

    p{
        font-family: Martian Mono, monospace;

        @media(min-width:900px){
            min-width: 100px;
        }
    }

    a{
        font-family: Martian Mono, monospace;
    }

    @media(min-width:810px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: none;
    }

}