body{
    font-family: Archivo, sans-serif;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-self: center;

    @media(min-width:450px){
        /* border-left: .07em solid black ; */
        /* border-right: .07em solid black ; */
        /* width: 90vw; */
    }
}

h1{
    font-size: 2em;
    margin: 0;
    padding: .3em;
    font-weight: 650;
    /* max-width: 200px;
    hyphens: auto; */
    @media(min-width:880px){
        font-size: 6em;
    }
}

/* VACATURES */

.main-vacatures{
    padding: 1em;
    section{
        border-bottom: .07em solid black;
        padding-bottom: 1em;
    }

    a{
        text-decoration: none;
        color: #364bf7;

        &:hover{
            color: black;
        }
    }

    .page-title-vacatures{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: .07em solid black;
        padding-block: 3em;

        a{
            color: black;

            &:hover{
                color: #364bf7;
            }
        }


        p{
            text-align: center;
            max-width: 80%;
            line-height: 1.5em;

        }
    }

}

.add-vacature-vacatures{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    /* padding-bottom: 3em; */

    .add-button-vacatures{
        display: flex;
        border: none;
        background: none;
        gap: .3em;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
        color: #364bf7;

        &:hover{
            color: black;
        }
        
        @media(min-width:500px){
            font-size: 2em;
        }
    }
}

#mypopover-vacatures{
    padding: 2em;
    gap: 1em;

    form{
        display: flex;
        flex-direction: column;
        align-items: end;

        button{
            width: 100%;
            margin-bottom: 1em;
        }
    }

    label{
        /* min-width: 50px; */
        padding-block: 1em;
    }
}

.vacature-vacatures{
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    padding-block: 2em;
    /* max-width: 300px; */

    h2{
        font-weight: 400;
        grid-column: 1/-1;
        font-size: 1em;

        @media(min-width:800px){
            min-width: 400px;
        }

        @media(min-width:990px){
            min-width: 400px;
            font-size: 1.5em;
            min-width: 550px;
        }
    }

    p{
        font-family: Martian Mono, monospace;

        @media(min-width:900px){
            min-width: 100px;
        }
    }

    a{
        font-family: Martian Mono, monospace;
    }

    @media(min-width:810px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: none;
    }

}