{% render 'views/partials/head.liquid', title: 'DDA Publicaties' %}
{% render 'views/partials/header.liquid', title: 'DDA Publicaties' %}

<h1>Events</h1>

<p>{{ events.json }}</p>



{% render 'views/partials/footer.liquid' %}