<section class="home-index">
{% render 'views/partials/head.liquid', title: 'Home' %}
{% render 'views/partials/header.liquid', title: 'Home' %}

</section>
<section class="index__bg">
<div class="index__bg layer1"></div>
<div class="index__bg layer2"></div>
</section>

<section class="page-title-index">
<h1 class="title-index"> De beste digitale bureaus van nederland </h1>
<p>Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de 157 beste digitale bureaus van Nederland.
<br> Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik. </p>
<section>

<h2>Onze Events</h2>
<p> Er zijn momenteel 0 events beschikbaar.</p>

</section>
{% render 'views/partials/foot.liquid', title: 'Home' %}
</section>