
{% render 'partials/header.liquid', title: 'Vacatures' %}


 <section class="titles">
    <img src="/public/assets/logo.jpg" alt="logo" class="logo">
    <h1>De beste digitale bureaus van nederland</h1>
    <p>Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de 157 beste digitale bureaus van Nederland.<br>
         Samen maken we de wereld om ons heen steeds een beetje slimmer.<br> Stap voor stap, klik na klik.</p>
         <a href="/views/over-ons.liquid">Word lid</a>
        <a href="/views/vacatures.liquid">Zoek een bureau</a>
  </section>

