
{% render 'partials/header.liquid', title: 'Vacatures' %}

<header>
    <img src="/assets/DDAlogo.png" alt="logo" class="logo">

    <nav class="topnav">

    <a href="/over-ons">Over Ons</a>
    <a href="/publicaties">Publications</a>
    <a href="/vacatures">Vacatures</a>
    <a href="leden">Leden</a>
    <a href="/events">Events</a>

    </nav>
</header>

 <section class="titles">
    <h1>De beste digitale bureaus van nederland</h1>
    <p>Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de 157 beste digitale bureaus van Nederland.
         Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik.</p>
         <div class="home">
        <a href="https://dutchdigitalagencies.com/">Word lid</a>
        </div>
        <div class="home">
        <a href="https://dutchdigitalagencies.com/">Zoek een bureau</a>
        </div>
  </section>

