{% render 'views/partials/head.liquid', title: 'Events' %}
{% render 'views/partials/header.liquid', title: 'Events' %}

<h1>Leden</h1>

 <p> {{ agency.data }} </p>

{% include 'views/partials/footer.liquid', title: 'DDA Publicaties' %}