{% render 'views/partials/head.liquid', title: 'DDA Publicaties' %}
{% render 'views/partials/header.liquid', title: 'DDA Publicaties' %}

<h1>Leden</h1>

 <p> {{ agency.data }} </p>

{% render 'views/partials/footer.liquid' %}