
    <head>
        <link rel="stylesheet" href="over-ons.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://www.datocms-assets.com">
        <link rel="preconnect" href="https://plausible.io">
        <link rel="preload" as="font" type="font/woff2" href="/fonts/Archivo-SemiBold.woff2" crossorigin="anonymous">
        <link rel="preload" as="font" type="font/woff2" href="/fonts/Archivo-Regular.woff2" crossorigin="anonymous">
        <title>Over ons - Dutch Digital Agencies</title>

        
    </head>
    <body>
        <div class="main-container">
            <a href="#content" datocms-no-index data-astro-cid-vngqoflz="true" class="a11y-kb-only link">Direct naar inhoud </a>
            <style>
                astro-island,astro-slot,astro-static-slot {
                    display: contents
                }
            </style>
            <astro-island uid="Z12K522" component-url="/_astro/Header.GeBz0w_-.js" component-export="Header" renderer-url="/_astro/client.CmA5iGOb.js" props="{}" ssr client="load" opts="{&quot;name&quot;:&quot;Header&quot;,&quot;value&quot;:true}" await-children>
                <header class="header">
                    <a rel="home" href="/" aria-label="Ga naar Dutch Digital Agencies home page" class="link">
                        <img alt height="164" src="/_astro/logo.CO-nlMzN.svg" width="217" class="header__logo"/>
                    </a>
                    <div class="menu">
                        <button type="button" aria-controls="menu" aria-expanded="false" aria-haspopup="menu" aria-label="Open menu" class="menu__burger-button button button--icon-only button--target-area-self">
                            <svg role="presentation" data-icon="burger" class="icon button__icon">
                                <use href="#burger" xlink:href="#burger"></use>
                            </svg>
                        </button>
                        <div class="menu__overlay">
                            <div class="menu__content">
                                <div class="menu__header">
                                    <button type="button" aria-label="Close menu" class="menu__close-button button button--icon-only button--target-area-self">
                                        <svg role="presentation" data-icon="close" class="icon button__icon">
                                            <use href="#close" xlink:href="#close"></use>
                                        </svg>
                                    </button>
                                </div>
{% include 'views/partials/nav.liquid', title: 'navigatie' %}
                                <div class="menu__footer">
                                    <a href="/inloggen/" target="_blank" class="button button--target-area-self button--secondary">
                                        <span class="button__content">Inloggen</span>
                                        <svg role="presentation" data-icon="arrow-right" class="icon button__icon">
                                            <use href="#arrow-right" xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="https://aanmelden-dutchdigitalagencies.com/lid-worden" target="_blank" class="button button--target-area-self">
                                        <span class="button__content">Word lid</span>
                                        <svg role="presentation" data-icon="arrow-right" class="icon button__icon">
                                            <use href="#arrow-right" xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!--astro:end-->
            </astro-island>
            <main id="content" tabindex="-1">
                <div class="page-header" data-astro-cid-25kvgvdq>
                    <div class="page-title grid">
                        <div class="container-padding-x column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12 column--start-mobile-1 column--start-tablet-1 column--start-desktop-1">
                            <div class="header-slot" data-astro-cid-25kvgvdq>
                                <a href="../" data-astro-cid-jkqsjcuo="true" class="back-button button button--target-area-self button--icon-left button--tertiary">
                                    <span class="button__content">Terug naar home</span>
                                    <svg role="presentation" data-icon="arrow-left" class="icon button__icon">
                                        <use href="#arrow-left" xlink:href="#arrow-left"></use>
                                    </svg>
                                </a>
                            </div>
                            <h1 data-astro-cid-25kvgvdq="true" class="heading heading--1">Over ons</h1>
                        </div>
                        <div class="page-title-content container-padding-x column column--span-mobile-12 column--span-tablet-12 column--span-desktop-8 column--start-mobile-1 column--start-tablet-1 column--start-desktop-3">
                            <p>
                                Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de <span>157</span>
                                beste digitale bureaus van Nederland. Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik.
                            </p>
                        </div>
                    </div>
                    <div class="visual container-padding-x" data-astro-cid-25kvgvdq>
                        <figure class="video-embed-block" data-astro-cid-coes4cfc>
                            <video-embed data-provider="youtube" data-video-url="https://www.youtube.com/embed/brWuLmjWCKg?autoplay=1&mute=0&loop=0&playlist=brWuLmjWCKg" style="aspect-ratio:200 / 113" data-astro-cid-coes4cfc="true">
                                <a href="https://youtu.be/brWuLmjWCKg?si=m4mLWI23szGpr54B" target="_blank" rel="noopener noreferrer" data-astro-cid-coes4cfc="true" class="astro-pahsqpar" data-astro-cid-pahsqpar>
                                    <img alt="video afspelen: Over Dutch Digital Agencies" loading="lazy" src="https://img.youtube.com/vi/brWuLmjWCKg/maxresdefault.jpg" srcset="https://img.youtube.com/vi/brWuLmjWCKg/maxresdefault.jpg 1280w, https://img.youtube.com/vi/brWuLmjWCKg/sddefault.jpg 640w, https://img.youtube.com/vi/brWuLmjWCKg/hqdefault.jpg 480w, https://img.youtube.com/vi/brWuLmjWCKg/mqdefault.jpg 320w" style="aspect-ratio:200 / 113" data-astro-cid-coes4cfc>
                                    <span class="play-button__icon" data-astro-cid-pahsqpar>
                                        <svg role="presentation" data-icon="play" data-astro-cid-pahsqpar="true" class="icon">
                                            <use href="#play" xlink:href="#play"></use>
                                        </svg>
                                    </span>
                                </a>
                                <div class="consent-alert" role="alert" hidden data-astro-cid-coes4cfc>
                                    <p class="consent-alert__text" data-astro-cid-coes4cfc>YouTube gebruikt cookies om deze video te tonen. Dit vereist jouw toestemming. </p>
                                    <div class="consent-alert__actions" data-astro-cid-coes4cfc>
                                        <button type="button" data-astro-cid-coes4cfc="true" class="button button--target-area-self">
                                            <span class="button__content">YouTube toestaan</span>
                                        </button>
                                        <a href="https://youtu.be/brWuLmjWCKg?si=m4mLWI23szGpr54B" target="_blank" rel="noopener noreferrer" data-astro-cid-coes4cfc="true" class="button button--target-area-self button--secondary">
                                            <span class="button__content">
                                                bekijken op YouTube
                                                <svg role="presentation" data-icon="external" data-astro-cid-coes4cfc="true" class="icon">
                                                    <use href="#external" xlink:href="#external"></use>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <iframe hidden allowfullscreen allow="autoplay" title="Over Dutch Digital Agencies" style="aspect-ratio:200 / 113" data-astro-cid-coes4cfc></iframe>
                            </video-embed>
                        </figure>
                        <script type="module" src="/_astro/VideoEmbedBlock.astro_astro_type_script_index_0_lang.Bp-Bq5pX.js"></script>
                    </div>
                </div>
                <div data-astro-cid-jkqsjcuo="true" class="grid grid--column-gap-tablet-32">
                    <div data-astro-cid-jkqsjcuo="true" class="visual-caption column column--span-mobile-12 column--span-tablet-5 column--span-desktop-5">
                        <p data-astro-cid-jkqsjcuo="true" class="text text--subtext">Over Dutch Digital Agencies</p>
                    </div>
                    <section data-astro-cid-jkqsjcuo="true" class="text-section column column--span-mobile-12 column--span-tablet-7 column--span-desktop-7">
                        <h2 data-astro-cid-jkqsjcuo="true" class="heading heading--4">Sinds 2002 verbindt DDA de meest toonaangevende digitale bureaus. </h2>
                        <div class="styled-text" data-astro-cid-i22w3huh>
                            <p>We delen kennis en ervaringen, prikkelen met nieuwe ideeën en digitale toepassingen en laten zien wat we kunnen. Samen versterken we onze snelgroeiende branche en ontwikkelen het talent van morgen. We zijn trots op onze kennis en ons werk. En vertellen daar graag over op events en in de media.</p>
                            <p>Met onze leden staan we voor het beste dat de Nederlandse digitale industrie te bieden heeft. We zijn bedenkers en makers, ontwerpers en coders, testers en verslimmers. Flexibele teams met flexibele denkers. Altijd bezig met de volgende oplossing.</p>
                            <a href="https://dutchdigitalagencies.com/leden/" class="button button--target-area-self button--large">
                                <span class="button__content">Onze leden</span>
                                <svg role="presentation" data-icon="arrow-right" class="icon button__icon">
                                    <use href="#arrow-right" xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                            <p></p>
                        </div>
                    </section>
                </div>
                <div data-astro-cid-jkqsjcuo="true" class="grid grid--border">
                    <div data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12">
                        <!--server-island-start-->
                        <link rel="preload" as="fetch" href="/_server-islands/MemberParade/?e=default&p=277DFC00E8B8F53E9552DD07Q5%2BL5WFpxFuvIiJyRGsepMcIDOMIRHH94ptDYrqfaepCNxTzI5QJmdEL6TUbFxlC&s=%7B%7D" crossorigin="anonymous">
                        
                    </div>
                </div>
                <section data-astro-cid-jkqsjcuo="true" class="grid grid--border">
                    <div data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12">
                        <div class="title-section grid grid--row-gap-mobile-24 grid--column-gap-mobile-24">
                            <div class="title-section-content column column--span-mobile-12 column--span-tablet-12 column--span-desktop-8 column--start-mobile-1 column--start-tablet-1 column--start-desktop-3">
                                <span class="tag tag--default">Organisatie</span>
                                <h2 data-astro-cid-jkqsjcuo="true" class="heading heading--2">Maak kennis met
 ons team</h2>
                            </div>
                        </div>
                    </div>
                    <div data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-12 column--span-desktop-12">
                        <ul data-astro-cid-jkqsjcuo="true" class="team-member-list grid grid--border">
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 156w,https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 312w,https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 468w,https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 624w,https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 936w,https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1248w" sizes="(max-width: 624px) 100vw, 624px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957726-fenna_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLChYLDhgVDRUODRUNFg0YGB8cGBYfFhUdKSsjGh0oHRUWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHAsOGi8cFhw7NS8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABAAGAMBIgACEQEDEQH/xAAZAAABBQAAAAAAAAAAAAAAAAAGAAMEBQf/xAAfEAABBAICAwAAAAAAAAAAAAACAAEDBAURQXETIVH/xAAXAQADAQAAAAAAAAAAAAAAAAACAwQA/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAMSBAL/2gAMAwEAAhEDEQA/AJkuWkjql0qnGZwmult+UzYOR6pO/wAQnBfMMk4b5UOV7JNww1apnA83t0kI03OR2LaSUxzKDs//2Q==&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:624 / 416;width:100%;max-width:624px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Fenna van Raaij</h3>
                                        <p class="text text--subtext">Directeur</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/fenna-van-raaij-a4652733/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Fenna van Raaij</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Fenna van Raaij</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 156w,https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 312w,https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 468w,https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 624w,https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 936w,https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1248w" sizes="(max-width: 624px) 100vw, 624px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957435-bjorn_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLCgoLDhgQDhYTFR0hFRUdHR8lGBYTFhUaHysjGh0oHRUWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHBAQHDsoFig1Ozs7Lzs7OzsvOzs7Ly8vOzs1Lzs1Ly8vOzsvLy8vLzsvLy8vLy8vLy8vLy8vLy8vL//AABEIABAAGAMBIgACEQEDEQH/xAAXAAEAAwAAAAAAAAAAAAAAAAAFAAEG/8QAHhAAAQUAAwEBAAAAAAAAAAAAAQACAwQFETFBBwb/xAAWAQEBAQAAAAAAAAAAAAAAAAACBAD/xAAZEQACAwEAAAAAAAAAAAAAAAABAgADEQT/2gAMAwEAAhEDEQA/AALVek7OJ5SP53IqSZUjwfELaETMRz+egnvn08VzMmjJ8Ki5KDkzMSZjbMNVupIznoq0rbw2P3JCD6ok9R2MKcn/2Q==&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:624 / 416;width:100%;max-width:624px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Bjorn Stolte</h3>
                                        <p class="text text--subtext">Voorzitter, Co-owner &amp;CSO @ Handpicked Agencies</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/bjornstolte/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Bjorn Stolte</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Bjorn Stolte</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 156w,https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 312w,https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 468w,https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 624w,https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 936w,https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1248w" sizes="(max-width: 624px) 100vw, 624px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957546-nienke_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLDhUTDhgQCxUNDh0NDQ4UFxUZGBYVIiEaHysjJikoKRUWJTUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHA0QEC8cFh07Oy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABAAGAMBIgACEQEDEQH/xAAYAAEAAwEAAAAAAAAAAAAAAAAFAQYHAP/EAB8QAAEDBAMBAAAAAAAAAAAAAAMAAQIEBRFBBhUhEv/EABYBAQEBAAAAAAAAAAAAAAAAAAMEAP/EABgRAQADAQAAAAAAAAAAAAAAABEAAgMB/9oADAMBAAIRAxEAPwBkhRAtcnzpEUNwhN3bO0NXcjh1btlCUN7aIpTZ0enes2ITUxDgemb1SqhZeRTMP5yuVFUg3Gf/2Q==&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:624 / 416;width:100%;max-width:624px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Nienke van Heusden</h3>
                                        <p class="text text--subtext">Portefeuille Events, Managing Director @ Kaliber</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/nienkevanheusden/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Nienke van Heusden</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Nienke van Heusden</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 156w,https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 312w,https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 468w,https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 624w,https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 936w,https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1248w" sizes="(max-width: 624px) 100vw, 624px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957632-duncan_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLChILDhgQFRAVDhYTFhEYFx8dHRYfIhUmHysjGh0oHRUWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHAoFFS8cIhw7Ly8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABAAGAMBIgACEQEDEQH/xAAXAAADAQAAAAAAAAAAAAAAAAAABQYE/8QAHRAAAgICAwEAAAAAAAAAAAAAAgMAAQQFEjFBIf/EABUBAQEAAAAAAAAAAAAAAAAAAAQB/8QAGhEAAQUBAAAAAAAAAAAAAAAAAgABAxESBP/aAAwDAQACEQMRAD8AQ5KGqIRGvYyycTLrVCdBfU1opbyEyrq442Gzx1a4U8KgueE8qyu1qQS7LHD42FwlOCks1/Ohr7CHOI9KiTUv/9k=&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:624 / 416;width:100%;max-width:624px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Duncan Borsboom</h3>
                                        <p class="text text--subtext">Portefeuille Kennis, Partner @ Endeavour</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/dborsboom/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Duncan Borsboom</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Duncan Borsboom</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 69w,https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 138w,https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 207w,https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 277w,https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 415w,https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 554w" sizes="(max-width: 277px) 100vw, 277px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957144-elvire_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLCgoVDhgYGg0NGhIVHhUQFx8fHRYVFiEaHysjGh0oHRUiJDUlKC0vMjIyHSI4PTcwPCsxMi8BCgsLDg0OFQ0QHC8cFhwvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABkAEAMBIgACEQEDEQH/xAAYAAADAQEAAAAAAAAAAAAAAAAEBQYDAv/EACAQAAEDBAIDAAAAAAAAAAAAAAEAAgUDBAYRNnEHEzP/xAAWAQEBAQAAAAAAAAAAAAAAAAADAgD/xAAYEQACAwAAAAAAAAAAAAAAAAAAARESQv/aAAwDAQACEQMRAD8AmMUjqFdxO1xLWrLORLmlVWJ4jWFsX03bQs/il0apedq4Nke+P5G8pw5fWBRE9Pj0nYG1liHH3dJHP/F3aWAU3U//2Q==&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:277 / 416;width:100%;max-width:277px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Elvire Jaspers</h3>
                                        <p class="text text--subtext">Portefeuille PR &amp;Communicatie, CEO @ WeAreBrain</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/elvirejaspers/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Elvire Jaspers</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Elvire Jaspers</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 127w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 254w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 381w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;fit=crop&amp;h=416 508w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 762w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1016w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=3&amp;fit=crop&amp;h=416 1524w,https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;dpr=4&amp;fit=crop&amp;h=416 2032w" sizes="(max-width: 508px) 100vw, 508px"/>
                                            <img src="https://www.datocms-assets.com/144536/1744705740-thomas_vanrooijen.png?auto=format&amp;fit=crop&amp;h=416" alt title="Thomas van Rooijen" loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgUEhITDhgODxQVDhINDQ0NHhkZGBYTIhUdHysjHR0oHSEWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg4OHRANFi8dFhwvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABQAGAMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAABgUH/8QAIBAAAgIDAAEFAAAAAAAAAAAAAAIBAwQFERMSFCExQf/EABgBAAIDAAAAAAAAAAAAAAAAAAIDAAEE/8QAGBEBAAMBAAAAAAAAAAAAAAAAAAECAxL/2gAMAwEAAhEDEQA/AKHLubwTDSYOPbWt7dYzN1vbV6isYGPsrpyes36BXMzp0nV3omT3oJzX5k/E+oFTmXN0jurn9x9mb5Xh45IBpoFSai12WOyACSTL/9k=&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:508 / 416;width:100%;max-width:508px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Thomas van Rooijen</h3>
                                        <p class="text text--subtext">Penningmeester, Partner @FRMWRK</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/thomasvanrooijen/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Thomas van Rooijen</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com " target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Thomas van Rooijen</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>
                            </li>
                            <li data-astro-cid-jkqsjcuo="true" class="column column--span-mobile-12 column--span-tablet-6 column--span-desktop-3">
                                <article class="card">
                                    <div class="card-image">
                                        <picture>
                                            <source srcset="https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;dpr=0.25&amp;fit=crop&amp;h=416 156w,https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;dpr=0.5&amp;fit=crop&amp;h=416 312w,https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;dpr=0.75&amp;fit=crop&amp;h=416 468w,https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;fit=crop&amp;h=416 624w,https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;dpr=1.5&amp;fit=crop&amp;h=416 936w,https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;dpr=2&amp;fit=crop&amp;h=416 1248w" sizes="(max-width: 624px) 100vw, 624px"/>
                                            <img src="https://www.datocms-assets.com/144536/1734957272-karlijn_dda.jpeg?auto=format&amp;fit=crop&amp;h=416" alt loading="lazy" style="background-image:url(&quot;data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHBwgHBgoICAgLCgoUDhgQFQ4VDh0VEx0NFx8ZGCITGhUdHysjHR0oHRUWJDUlKC0vMjIyGSI4PTcwPCsxMi8BCgsLDg0OHBAMHS8oFhw7Oy8vLzsvLy87Oy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL//AABEIABAAGAMBIgACEQEDEQH/xAAXAAEAAwAAAAAAAAAAAAAAAAAGAAMH/8QAHRAAAgIDAQEBAAAAAAAAAAAAAQIABQMEMRIiFf/EABYBAAMAAAAAAAAAAAAAAAAAAAIEBf/EABoRAAEFAQAAAAAAAAAAAAAAAAABAgMREgT/2gAMAwEAAhEDEQA/ADeHX3lTyEMWVldafms4Q8leLZxhh8Dsd1tlhWoI8DkmckzshWpkuY2mHcYeD2SJ7DZV9xyEHZIpLO7ag2p//9k=&quot;);background-size:cover;background-repeat:no-repeat;background-position:50% 50%;color:transparent;aspect-ratio:624 / 416;width:100%;max-width:624px;height:auto;"/>
                                        </picture>
                                    </div>
                                    <div class="card-content">
                                        <h3 class="team-member-name heading heading--4">Karlijn Koekoek</h3>
                                        <p class="text text--subtext">Bureaumanagement</p>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="https://www.linkedin.com/in/karlijn-koekoek-858248b/" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                LinkedIn<span class="a11y-sr-only">van Karlijn Koekoek</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                        <a href="mailto:info@dutchdigitalagencies.com" target="_blank" class="button button--target-area-self button--secondary button--large button--narrow">
                                            <span class="button__content">
                                                E-mail<span class="a11y-sr-only">naar Karlijn Koekoek</span>
                                            </span>
                                            <svg role="presentation" data-icon="arrow-up-right" class="icon button__icon">
                                                <use href="#arrow-up-right" xlink:href="#arrow-up-right"></use>
                                            </svg>
                                        </a>
                                    </footer>
                                </article>

                </section>
</main>
{% include 'views/partials/foot.liquid', title: 'DDA footer' %}
