{% include 'views/partials/head.liquid', title: 'DDA Over Ons' %}

<header>
    <nav class="topnav">
      <img src="/assets/DDAlogo.png" alt="logo" class="logo">

       <div class="home">
        <a href="https://dutchdigitalagencies.com/">Home</a>
        </div>


    </nav>
  </header>
    <section class="titles">
        <h1>Over Ons</h1>
        <p>Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de 157 beste digitale bureaus van Nederland. <br>
            Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik.</p>
        <h5>Sinds 2002 verbindt DDA de meest toonaangevende digitale bureaus.</h5>
<p>We delen kennis en ervaringen, prikkelen met nieuwe ideeën en digitale toepassingen en laten zien wat we kunnen. <br>
    Samen versterken we onze snelgroeiende branche en ontwikkelen het talent van morgen. We zijn trots op onze kennis en ons werk. <br>
    En vertellen daar graag over op events en in de media. <br>
Met onze leden staan we voor het beste dat de Nederlandse digitale industrie te bieden heeft. <br>
 We zijn bedenkers en makers, ontwerpers en coders, testers en verslimmers. Flexibele teams met flexibele denkers. 
 Altijd bezig met de volgende oplossing.</p>
    
        <div class="home">
            <a>Word Lid</a>
            <a>Zoek een bureau</a>
        </div>
    </section>

 <section class="over-ons-animatie">
<main class="overons-gridview">
{% render 'views/partials/head.liquid' %}

<section class="hero hero-border">
        <h1 class="hero-title">events</h1>
        <p class="hero-text">Spraakmakende sprekers. Inspirerende kennissessies. Events waar je écht bij wilt zijn. En waar je al je vakgenoten weer spreekt. Versterk je bureau met kennis en inspiratie over bureaumanagement, leiderschap en de laatste ontwikkelingen.</p>
</section>

{% for team in teams %}

    <section class="vacature">
      <h2>{{ team.photo }}</h2>
      <p>{{ team.name }}</p>
      <p>{{ team.function }}</p> 
      <a href="/over-ons/{{ vacature.linkedin }}">LinkedIn↗</a>
    </section>
      
  {% endfor %}    

</main> 
 </section>

 <div class="home">
    <a>Onze Leden</a>
</div>

</main>
{% include 'views/partials/foot.liquid', title: 'DDA footer' %}