{% include 'views/partials/header.liquid', title: 'DDA Publicaties' %}
<section class="title-publication-detail">
    <a href="/publicaties">Ga terug</a>
<h1>Detailpagina</h1>

</section>


{% include 'views/partials/footer.liquid', title: 'DDA Publicaties' %}